@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes charging {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -20px 0;
  }
  50% {
    background-position: -120px 0;
  }
  75% {
    background-position: -180px 0;
  }
  100% {
    background-position: -240px 0;
  }
}
