@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes charging {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -6.85vw 0;
  }
  40% {
    background-position: -13.7vw 0;
  }
  60% {
    background-position: -20.55vw 0;
  }
  80% {
    background-position: -27.4vw 0;
  }
  100% {
    background-position: -34.25vw 0;
  }
}
@keyframes connect {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -4.75vw 0;
  }
  40% {
    background-position: -9.5vw 0;
  }
  60% {
    background-position: -14.25vw 0;
  }
  80% {
    background-position: -19vw 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes animRight {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-80%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes animLeft {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(80%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes UpDown {
  0%,
  100% {
    bottom: 28vw;
  }
  50% {
    bottom: 0;
  }
}
@keyframes loading {
  0% {
    left: 0;
  }
  50% {
    left: 19.5vw;
  }
  100% {
    left: 0;
  }
}
@keyframes loading2 {
  0% {
    left: 0;
  }
  50% {
    left: 19.5vw;
  }
  100% {
    left: 0;
  }
}
@keyframes loading3 {
  0% {
    left: 0;
  }
  50% {
    left: 19.5vw;
  }
  100% {
    left: 0;
  }
}
@keyframes loading4 {
  0% {
    left: 0;
  }
  50% {
    left: 19.5vw;
  }
  100% {
    left: 0;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation-1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes mech-1 {
  from {
    -webkit-transform: rotate(0deg) translateX(3.65vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(3.65vw) rotate(360deg);
  }
}
@keyframes mech-mid {
  from {
    -webkit-transform: rotate(0deg) translateX(1vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(1vw) rotate(-360deg);
  }
}
@keyframes mech-2 {
  from {
    -webkit-transform: rotate(0deg) translateX(3.65vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(3.65vw) rotate(-360deg);
  }
}
@keyframes mech-mid2 {
  from {
    -webkit-transform: rotate(0deg) translateX(1vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(1vw) rotate(360deg);
  }
}
@keyframes mech-3 {
  from {
    -webkit-transform: rotate(0deg) translateX(3.6vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(3.6vw) rotate(360deg);
  }
}
@keyframes mech-mid3 {
  from {
    -webkit-transform: rotate(0deg) translateX(1vw) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(1vw) rotate(-360deg);
  }
}
@keyframes color-change1 {
  0% {
    background-image: url('../images/mask1.svg');
  }
  25% {
    background-image: url('../images/lime-mask13.svg');
  }
  50% {
    background-image: url('../images/mask3.svg');
  }
  75% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}
@keyframes color-change3 {
  0% {
    background-image: none;
  }
  25% {
    background-image: none;
  }
  50% {
    background-image: url('../images/mask3.svg');
  }
  75% {
    background-image: url('../images/mask1.svg');
  }
  100% {
    background-image: url('../images/lime-mask13.svg');
  }
}
@keyframes loading-finish {
  0% {
    background-position: 0 0;
  }
  11% {
    background-position: -23vw 0;
  }
  22% {
    background-position: -46vw 0;
  }
  33% {
    background-position: -69vw 0;
  }
  44% {
    background-position: -92vw 0;
  }
  55% {
    background-position: -115vw 0;
  }
  66% {
    background-position: -138vw 0;
  }
  77% {
    background-position: -161vw 0;
  }
  88% {
    background-position: -184vw 0;
  }
  99% {
    background-position: -207vw 0;
  }
  100% {
    background-position: 0 0;
  }
}
